[phases.setup]
nixPkgs = ["nodejs_18"]

[phases.install]
cmds = [
  "npm install",
  "cd server && npm install"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "cd server && NODE_ENV=production node src/server.js"
